<!-- Three columns of text below the carousel -->
<div class="row">
  {% for shoutout in site.data.shoutout %}
  <div class="col-lg-4">
    <img class="img-circle" src="{{ site.github.url }}{{ shoutout.img }}" alt="{{ shoutout.title }}" width="140" height="140">
    <h2>{{ shoutout.title }}</h2>
    <p>{{ shoutout.desc }}</p>
    <p><a class="btn btn-default" href="{{ shoutout.url }}" role="button" target="_blank">{{ shoutout.button }}</a></p>
  </div><!-- /.col-lg-4 -->
  {% endfor %}
</div><!-- /.row -->
