<div class="well">

<p>To join our Signature Nurses network, all nurses and aide candidates must undergo a thorough quality assessment that includes:</p>

<ul>
  <li>Training review</li>
  <li>License confirmation</li>
  <li>Review of key competencies</li>
  <li>Complete background check</li>
  <li>Ongoing CPR, TB skin testing</li>
</ul>

<a class="btn btn-lg btn-primary" href="{{ site.gituhub.url}}/application.html">Submit Application</a>

</div>

<div class="well">

<h3>Timesheet Download</h3>
<p>Download and print our timesheet pdf and fill it out and send a copy back.</p>

<a class="btn btn-lg btn-primary" href="{{ site.gituhub.url}}/downloads/timesheet.pdf">Download</a>

</div>
