<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include home-header.html %}

    {% if site.data.config.slider %}
    {% include carousel.html %}
    {% endif %}

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      {% if site.data.config.shoutout  %}
      {% include shoutout.html %}
      {% endif %}

      <!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Find Staff</h2>
    <p class="lead">For the last 16 years, <strong class="logo">Signature</strong> NURSES Inc. has helped provide staff for Missouri, Kansas, and Nebraksa's Medical Staffing needs.</p>
    <p><a class="btn btn-primary btn-lg" href="http://signaturenurses.org/find-staff.html" role="button">Learn More »</a></p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <a href="http://signaturenurses.org/find-staff.html">
      <img class="featurette-image img-responsive center-block" alt="Find Staff" src="http://signaturenurses.org/img/find-staff.jpg">
    </a>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Become a Part of the Signature Nurses Team!</h2>
    <p class="lead">Whether you are looking for flexible hours, additional hours beyond an existing contract or simply enjoy the variety of working with more than one facility, Signature Nurses is your resource for outstanding opportunities within the Missouri, Kansas, and Nebraska state areas.</p>
    <p><a class="btn btn-primary btn-lg" href="http://signaturenurses.org/find-a-job.html" role="button">Learn More »</a></p>
  </div>
  <div class="col-md-5">
    <a href="http://signaturenurses.org/find-a-job.html">
      <img class="featurette-image img-responsive center-block" alt="Become a Part of the Signature Nurses Team!" src="http://signaturenurses.org/img/find-a-job.jpg">
    </a>
  </div>
</div>





<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Frequently asked questions</h2>
    <p class="lead">Find out what temporary staffing means and who is the employer of record for a temporary worker. And more information about insurance and payment.</p>
    <p><a class="btn btn-primary btn-lg" href="http://signaturenurses.org/faqs.html" role="button">Learn More »</a></p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <a href="http://signaturenurses.org/faqs.html">
      <img class="featurette-image img-responsive center-block" alt="Frequently asked questions" src="http://signaturenurses.org/img/faqs.jpg">
    </a>
  </div>
</div>



<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Always Caring || Always On Call || Always Working --- For YOU!</h2>
    <p class="lead">Get started today! Call us at 866·543·5880 or email us at <a href="mailto:signaturenurses@gmail.com">signaturenurses@gmail.com</a></p>
    <p><a class="btn btn-primary btn-lg" href="http://signaturenurses.org/contact-us.html" role="button">Learn More »</a></p>
  </div>
  <div class="col-md-5">
    <a href="http://signaturenurses.org/contact-us.html">
      <img class="featurette-image img-responsive center-block" alt="Always Caring || Always On Call || Always Working --- For YOU!" src="http://signaturenurses.org/img/contact.png">
    </a>
  </div>
</div>



<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Employee Application</h2>
    <p class="lead">We consider applicants for all positions without regard to race, color, religion, creed, gender, national origin, age, disability, marital or veteran status, or any other legally protected status.</p>
    <p><a class="btn btn-primary btn-lg" href="http://signaturenurses.org/application.html" role="button">Learn More »</a></p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <a href="http://signaturenurses.org/application.html">
      <img class="featurette-image img-responsive center-block" alt="Employee Application" src="http://signaturenurses.org/img/application.png">
    </a>
  </div>
</div>



<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->

      {% include footer.html %}

    </div><!-- /.container -->

    {% include scripts.html %}

  </body>
</html>
